<div id="content">

    <div id="banner_image">
        <ul class="slideshow">

            <li><img width="690" height="250" src="./assets/slide1.jpg"></li>
            <li><img width="690" height="250" src="./assets/slide2.jpg"></li>
        </ul>
    </div>



    <div>
        <h1>Dolmetscher und Übersetzer aller Sprachen.</h1>
        <p>Spezialisiert auf die afghanischen Sprachen Paschto und Dari sowie pakistanisch/indisch Urdu/Hindi und iranisches Persisch.</p>
        <p>Als staatlich vereidigter Dolmetscher & Übersetzer stehe ich Ihnen im Raum Rhein-Main, Frankfurt, Würzburg und Umgebung mit Rat und Tat beiseite. Egal, ob es sich um Übersetzungen von Schriftstücken für oder von Ämtern handelt oder um Behördengänge
            – mit meiner langjährigen Erfahrung und Tätigkeit begleite ich Sie in allen Situationen. Dabei konzentriere ich mich auf die Sprachen „Dari“ und „Paschtu“. Es handelt sich hierbei um die offiziellen Amts- und Landessprachen Afghanistans. Bei
            weiteren Fragen und mehr Informationen können Sie mich gerne auf verschiedenstem Weg kontaktieren. Die Kontaktmöglichkeiten finden sie unter „Impressum“.</p>
        <div>
            <h1>Unsere Dienstleistungen</h1>
            <div class="content_image">
                <img class="dienst" alt="image" src="./assets/Behoerde.png" />
            </div>

            <div class="content_text">
                <p>Mündliche und schriftliche Übersetzungen. Wir übersetzen Ihre Dokumente, z.B. Tazkira, Führerschein, Heiratsurkunde, Kaufverträge, Behördenanträge, Drohbriefe usw., kurzfristig und zu fairen Preisen. Bei Bedarf begleitet Sie unser kompetentes
                    Personal sowohl bei Behördengänge als auch zu Rechtsanwälten und Jugendämter.</p>

            </div>


            <div class="content_image">
                <img class="dienst" alt="image" src="./assets/Gericht.png" />
            </div>

            <div class="content_text">
                <p>Mündliche und schriftliche Übersetzungen bei Gericht.</p>

            </div>

            <br style="clear:both" />
            <div class="content_image">
                <img class="dienst" alt="image" src="./assets/Docu.png" />
            </div>

            <div class="content_text">
                <p>Schriftliche Übersetzungen der Dokumenten und Urkunden.</p>

            </div>


        </div>
    </div>