<div class="sidebar_container">
    <div class="sidebar">
        <div class="sidebar_item">

            <h2>ASD Übersetzungbüro</h2>
            <p>Schwalbacherstraße 5 60326 Frankfurt am Main</p>

        </div>

    </div>

    <div class="sidebar">
        <div class="sidebar_item">
            <h4>Mohammad A. Speen</h4>
            <p><img src="./assets/Image1.jpg" alt="mohammad azim speen bild" align="middle" /></p>

        </div>

    </div>

    <div class="sidebar">
        <div class="sidebar_item">
            <h2>Pressebereich</h2>
            <p>Laut dem Bundesamt für Migration und Flüchtlinge lag im Jahr 2019, die Zahl bei ca. 110.000 Personen die erstmalig Asyl in Deutschland beantragt haben. Afghan Sprachendienst steht bei jeglicher Art von Übersetzungen für Sie da.
            </p>

        </div>

    </div>



</div>